.app-1717879222
    overflow-y: auto
    @import scheme
    background: $primary
    height: 600px
    position: relative
    color: white
    text-align: center
    max-width: 400px
    min-width: 300px