.locked1567056849
    padding-top: 200px
    min-height: 300px
    text-align: center
    >.title
        font-size: 35px
        color: #248295
        margin-bottom: 20px
    >.inputs
        input
            text-align: center
            font-size: 24px
            display: inline-block
            width: 40px
            height: 40px
            background: white
            border: 1px solid #CCC
            border-radius: 3px
            margin: 5px
            outline: none
            &:focus
                border-color: #248295
    >.wrong
        color: red
    button.setup
        cursor: pointer
        margin-top: 20px
        width: 100px
        height: 30px
        border-radius: 3px
        border: 0px
        background: #248295
        &:hover
            background: #248295 - 20
        color: white
    .hint
        color: #bab7b7
        padding: 20px 38px