
.app872166188 {
  overflow-y: scroll;
  background: #6595F5;
  height: 600px;
  position: relative;
  color: white;
  text-align: center;
  max-width: 400px; }






.description1821565793 {
  animation: fadeIn 1s 3s ease-in-out forwards;
  color: white;
  right: -100vw;
  position: absolute;
  top: 0;
  width: 600px;
  height: 100vh;
  background: rgba(255, 255, 255, 0.94); }

@keyframes fadeIn {
  0% {
    opacity: 0;
    right: -100vw; }
  20% {
    opacity: 1;
    right: 0; }
  100% {
    color: black;
    opacity: 1;
    right: 0; } }
  @media screen and (max-width: 600px) {
    .description1821565793 {
      width: 100%;
      z-index: 10;
      padding: 20px;
      box-sizing: border-box; } }
  .description1821565793 .line {
    margin-bottom: 10px; }
    .description1821565793 .line .white {
      background: white; }
    .description1821565793 .line .mark {
      font-weight: bold;
      color: #248295; }
    .description1821565793 .line a {
      display: inline-block;
      cursor: pointer; }
      .description1821565793 .line a.got-it {
        padding: 10px 20px;
        color: #CCC; }
      .description1821565793 .line a.big {
        background: #248295;
        color: white;
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 25px;
        margin-top: 10px;
        text-transform: uppercase; }
        .description1821565793 .line a.big:hover {
          background: #106e81; }
  .description1821565793 .who {
    color: #CCC;
    font-size: 12px;
    padding-right: 11px;
    text-align: right; }
    .description1821565793 .who a {
      color: gray; }
  .description1821565793 .for-free {
    border: 1px solid #80a4ad;
    padding: 3px;
    border-radius: 5px;
    color: #80a4ad;
    transform: rotate(-9deg);
    display: inline-block; }
  .description1821565793 pre {
    background: #0c1230;
    color: white;
    padding: 10px;
    font-size: 12px;
    border-radius: 5px 0 0 5px; }
    @media screen and (max-width: 600px) {
      .description1821565793 pre {
        border-radius: 0; } }
    .description1821565793 pre .part {
      display: inline-block;
      vertical-align: top;
      padding: 0;
      margin: 0;
      white-space: nowrap; }
    .description1821565793 pre .mark {
      color: orange; }


.copied-995214266 {
  position: fixed;
  background: #74cee1;
  z-index: 999;
  font-size: 14px;
  box-sizing: border-box;
  color: white;
  width: 100%;
  height: 80px;
  padding: 10px;
  left: 0;
  text-align: center;
  border-radius: 0px 0px 5px 5px;
  box-shadow: 0px 0px 0px 0px #aee7f3; }

@keyframes top {
  0% {
    top: -80px; }
  100% {
    top: 0; } }
  .copied-995214266.opened {
    animation: top 0.5s forwards; }


.modal-container-500658940 {
  z-index: 999;
  overflow: hidden;
  height: 600px;
  width: 400px;
  position: fixed; }
  .modal-container-500658940 > .modal {
    width: 400px;
    height: 600px;
    position: relative; }
    .modal-container-500658940 > .modal > * {
      position: absolute;
      overflow: hidden;
      left: 0; }
    .modal-container-500658940 > .modal > .bg {
      height: inherit;
      width: inherit;
      bottom: 0; }
    .modal-container-500658940 > .modal > .install {
      box-shadow: 0 -10px 20px 0 rgba(0, 0, 0, 0.15);
      width: 394px;
      height: 444px;
      margin: 3px;
      background: white;
      box-sizing: border-box;
      border-radius: 20px;
      padding: 10px;
      text-align: center; }
      .modal-container-500658940 > .modal > .install > .close-area {
        text-align: right; }
        .modal-container-500658940 > .modal > .install > .close-area > .close {
          cursor: pointer;
          text-align: center;
          display: inline-block;
          background: #DDDDDD;
          width: 40px;
          height: 40px;
          border-radius: 40px;
          line-height: 40px;
          color: white; }
      .modal-container-500658940 > .modal > .install > .title {
        color: #677897;
        font-size: 22px; }
      .modal-container-500658940 > .modal > .install > .animation {
        position: relative;
        height: 270px; }
        .modal-container-500658940 > .modal > .install > .animation > .coin-container {
          height: 160px;
          width: 160px;
          position: absolute;
          top: 50%;
          left: 50%;
          margin-top: -80px;
          margin-left: -80px;
          -webkit-perspective: 1000;
          -webkit-box-reflect: below 0 linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 45%, rgba(255, 255, 255, 0.2));
          -webkit-filter: saturate(1.45) hue-rotate(2deg); }

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotateY(0deg); }
  to {
    -webkit-transform: rotateY(360deg); } }
          .modal-container-500658940 > .modal > .install > .animation > .coin-container > .coin {
            height: 160px;
            width: 160px;
            position: absolute;
            -webkit-transform-style: preserve-3d;
            -webkit-transform-origin: 50%;
            -webkit-animation: spin 5s infinite;
            -webkit-animation-timing-function: linear; }
            .modal-container-500658940 > .modal > .install > .animation > .coin-container > .coin > .front, .modal-container-500658940 > .modal > .install > .animation > .coin-container > .coin > .back {
              position: absolute;
              height: 160px;
              width: 160px;
              border-radius: 50%;
              background-size: cover; }
            .modal-container-500658940 > .modal > .install > .animation > .coin-container > .coin > .front {
              -webkit-transform: translateZ(8px); }
            .modal-container-500658940 > .modal > .install > .animation > .coin-container > .coin > .back {
              -webkit-transform: translateZ(-8px) rotateY(180deg); }
            .modal-container-500658940 > .modal > .install > .animation > .coin-container > .coin > .side {
              -webkit-transform: translateX(72px);
              -webkit-transform-style: preserve-3d;
              -webkit-backface-visibility: hidden; }
              .modal-container-500658940 > .modal > .install > .animation > .coin-container > .coin > .side > .spoke {
                height: 160px;
                width: 16px;
                background-image: inherit;
                position: absolute;
                -webkit-transform-style: preserve-3d;
                -webkit-backface-visibility: hidden; }
                .modal-container-500658940 > .modal > .install > .animation > .coin-container > .coin > .side > .spoke:before, .modal-container-500658940 > .modal > .install > .animation > .coin-container > .coin > .side > .spoke:after {
                  content: '';
                  display: block;
                  height: 15.68274245px;
                  width: 16px;
                  position: absolute;
                  -webkit-transform: rotateX(84.375deg);
                  background: #d8be83;
                  background-image: inherit;
                  background-size: 100% 1px; }
                .modal-container-500658940 > .modal > .install > .animation > .coin-container > .coin > .side > .spoke:before {
                  -webkit-transform-origin: top center; }
                .modal-container-500658940 > .modal > .install > .animation > .coin-container > .coin > .side > .spoke:after {
                  bottom: 0;
                  -webkit-transform-origin: center bottom; }
                .modal-container-500658940 > .modal > .install > .animation > .coin-container > .coin > .side > .spoke:nth-child(16) {
                  -webkit-transform: rotateY(90deg) rotateX(180deg); }
                .modal-container-500658940 > .modal > .install > .animation > .coin-container > .coin > .side > .spoke:nth-child(15) {
                  -webkit-transform: rotateY(90deg) rotateX(168.75deg); }
                .modal-container-500658940 > .modal > .install > .animation > .coin-container > .coin > .side > .spoke:nth-child(14) {
                  -webkit-transform: rotateY(90deg) rotateX(157.5deg); }
                .modal-container-500658940 > .modal > .install > .animation > .coin-container > .coin > .side > .spoke:nth-child(13) {
                  -webkit-transform: rotateY(90deg) rotateX(146.25deg); }
                .modal-container-500658940 > .modal > .install > .animation > .coin-container > .coin > .side > .spoke:nth-child(12) {
                  -webkit-transform: rotateY(90deg) rotateX(135deg); }
                .modal-container-500658940 > .modal > .install > .animation > .coin-container > .coin > .side > .spoke:nth-child(11) {
                  -webkit-transform: rotateY(90deg) rotateX(123.75deg); }
                .modal-container-500658940 > .modal > .install > .animation > .coin-container > .coin > .side > .spoke:nth-child(10) {
                  -webkit-transform: rotateY(90deg) rotateX(112.5deg); }
                .modal-container-500658940 > .modal > .install > .animation > .coin-container > .coin > .side > .spoke:nth-child(9) {
                  -webkit-transform: rotateY(90deg) rotateX(101.25deg); }
                .modal-container-500658940 > .modal > .install > .animation > .coin-container > .coin > .side > .spoke:nth-child(8) {
                  -webkit-transform: rotateY(90deg) rotateX(90deg); }
                .modal-container-500658940 > .modal > .install > .animation > .coin-container > .coin > .side > .spoke:nth-child(7) {
                  -webkit-transform: rotateY(90deg) rotateX(78.75deg); }
                .modal-container-500658940 > .modal > .install > .animation > .coin-container > .coin > .side > .spoke:nth-child(6) {
                  -webkit-transform: rotateY(90deg) rotateX(67.5deg); }
                .modal-container-500658940 > .modal > .install > .animation > .coin-container > .coin > .side > .spoke:nth-child(5) {
                  -webkit-transform: rotateY(90deg) rotateX(56.25deg); }
                .modal-container-500658940 > .modal > .install > .animation > .coin-container > .coin > .side > .spoke:nth-child(4) {
                  -webkit-transform: rotateY(90deg) rotateX(45deg); }
                .modal-container-500658940 > .modal > .install > .animation > .coin-container > .coin > .side > .spoke:nth-child(3) {
                  -webkit-transform: rotateY(90deg) rotateX(33.75deg); }
                .modal-container-500658940 > .modal > .install > .animation > .coin-container > .coin > .side > .spoke:nth-child(2) {
                  -webkit-transform: rotateY(90deg) rotateX(22.5deg); }
                .modal-container-500658940 > .modal > .install > .animation > .coin-container > .coin > .side > .spoke:nth-child(1) {
                  -webkit-transform: rotateY(90deg) rotateX(11.25deg); }
            .modal-container-500658940 > .modal > .install > .animation > .coin-container > .coin.topup-type {
              background: white; }
              .modal-container-500658940 > .modal > .install > .animation > .coin-container > .coin.topup-type > .side > .spoke:before, .modal-container-500658940 > .modal > .install > .animation > .coin-container > .coin.topup-type > .side > .spoke:after {
                -webkit-transform: none !important;
                background: white; }
              .modal-container-500658940 > .modal > .install > .animation > .coin-container > .coin.topup-type > .front, .modal-container-500658940 > .modal > .install > .animation > .coin-container > .coin.topup-type > .back {
                border-radius: 0; }
      .modal-container-500658940 > .modal > .install > .button {
        box-sizing: border-box;
        text-align: center;
        background: blue;
        cursor: pointer;
        color: white;
        margin: 10px 40px;
        padding: 13px 0px;
        border-radius: 100px;
        background: #6CA7ED; }
      .modal-container-500658940 > .modal > .install > .decoration {
        width: 100%; }
        .modal-container-500658940 > .modal > .install > .decoration > .item {
          position: absolute;
          top: 150px;
          display: inline-block;
          width: 100px;
          height: 130px; }
          .modal-container-500658940 > .modal > .install > .decoration > .item.left {
            left: -20px;
            background-image: url(https://res.cloudinary.com/dfbhd7liw/image/upload/v1543785751/wallet/Combined_Shape.png);
            transform: scaleX(-1); }
          .modal-container-500658940 > .modal > .install > .decoration > .item.right {
            right: -20px;
            background-image: url(https://res.cloudinary.com/dfbhd7liw/image/upload/v1543785751/wallet/Combined_Shape.png); }

@keyframes init {
  0% {
    background: transparent;
    > .install {
      bottom: 0; } }
  100% {
    background: rgba(0, 0, 0, 0.6);
    > .install {
      bottom: 0; } } }

@keyframes init-install {
  0% {
    bottom: -80px; }
  100% {
    bottom: 0; } }
    .modal-container-500658940 > .modal > .bg {
      animation: init .5s forwards; }
    .modal-container-500658940 > .modal > .install {
      animation: init-install .5s forwards; }













.wallets-1312736338 {
  height: 373px;
  padding: 0 5px;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  bottom: 5px;
  right: 0;
  margin: 0 5px;
  z-index: 2;
  border-radius: 15px;
  padding-top: 40px;
  padding-bottom: 40px;
  background: rgba(255, 255, 255, 0.5); }
  .wallets-1312736338 > * {
    width: 390px; }
  .wallets-1312736338 > .arrow {
    position: absolute;
    text-align: center;
    cursor: pointer; }
    .wallets-1312736338 > .arrow.arrow-t {
      top: 0;
      margin-top: 10px; }
    .wallets-1312736338 > .arrow.arrow-d {
      bottom: 0;
      margin-bottom: 10px;
      transform: rotate(180deg); }
    .wallets-1312736338 > .arrow:not(.true) {
      visibility: hidden; }
  .wallets-1312736338 > .wallet-container {
    overflow: hidden;
    border-radius: 15px;
    height: 296px;
    width: 100%; }

.history876008007 {
  width: 100%;
  color: black;
  position: relative;
  padding-bottom: 20px;
  display: inline-block; }
  .history876008007 .nothin-to-show {
    color: rgba(255, 255, 255, 0.5);
    padding-top: 50px;
    text-align: center; }
  .history876008007 .header {
    height: 50px;
    box-sizing: border-box;
    text-align: left;
    padding: 10px;
    position: fixed;
    background: rgba(255, 255, 255, 0.95);
    left: 0;
    top: 0;
    width: 100%;
    max-width: 400px; }
    .history876008007 .header .separator {
      min-width: 14px;
      display: inline-block; }
    .history876008007 .header button {
      outline: none;
      cursor: pointer;
      border: 0;
      background: transparent;
      display: inline-block;
      vertical-align: top;
      margin: 3px;
      padding: 0;
      border: 1px solid #eae9e9;
      border-radius: 3px;
      line-height: 12px;
      height: 25px;
      width: 33px;
      text-align: center; }
      .history876008007 .header button.active {
        border-color: #75cee1;
        background: rgba(117, 206, 225, 0.3);
        background: white; }
      .history876008007 .header button > * {
        vertical-align: middle;
        display: inline-block; }
  .history876008007 .fee {
    display: inline-block;
    margin-right: 5px; }
  .history876008007 .balance {
    display: inline-block; }
    .history876008007 .balance > * {
      display: inline-block; }
    .history876008007 .balance .color {
      color: black; }
    .history876008007 .balance .rest {
      color: #CCC; }
  .history876008007 .table {
    margin-top: 60px;
    width: 100%; }
    .history876008007 .table .head.record, .history876008007 .table .record.record {
      border-radius: 3px;
      margin: 10px;
      background: white;
      margin-bottom: 1px; }
    .history876008007 .table .head .cell, .history876008007 .table .record .cell {
      padding: 2px 5px;
      display: inline-block;
      vertical-align: top;
      box-sizing: border-box;
      text-align: left; }
      .history876008007 .table .head .cell.network, .history876008007 .table .record .cell.network {
        width: 15%; }
      .history876008007 .table .head .cell.txhash, .history876008007 .table .record .cell.txhash {
        width: 45%; }
        .history876008007 .table .head .cell.txhash a, .history876008007 .table .record .cell.txhash a {
          color: black; }
      .history876008007 .table .head .cell.amount, .history876008007 .table .record .cell.amount {
        width: 40%;
        text-align: right; }
    .history876008007 .table .head .gray, .history876008007 .table .record .gray {
      color: #CCC;
      font-size: 12px; }
    .history876008007 .table .head .type, .history876008007 .table .record .type {
      text-align: center; }
    .history876008007 .table .head .direction, .history876008007 .table .record .direction {
      font-size: 12px; }
    .history876008007 .table .head.OUT .direction, .history876008007 .table .record.OUT .direction {
      color: red; }
    .history876008007 .table .head.OUT .txhash a, .history876008007 .table .record.OUT .txhash a {
      color: #c79b9b; }
    .history876008007 .table .head.IN .direction, .history876008007 .table .record.IN .direction {
      color: green; }
    .history876008007 .table .head.IN .txhash a, .history876008007 .table .record.IN .txhash a {
      color: #80ad80; }
  .history876008007 .panel-footer {
    padding: 10px; }
  .history876008007 img {
    height: 15px; }

.newseed-528124473 {
  padding-top: 50px;
  width: 400px;
  height: 600px;
  box-sizing: border-box;
  height: 100%; }
  .newseed-528124473 .title {
    color: #ebf6f8;
    font-size: 35px;
    margin-bottom: 20px; }
  .newseed-528124473 textarea {
    width: 300px;
    height: 100px;
    border-radius: 3px;
    resize: none;
    padding: 10px;
    font-size: 17px;
    border: 1px solid #CCC;
    text-align: center;
    outline: none; }
    .newseed-528124473 textarea:focus {
      border-color: #248295; }
  .newseed-528124473 button {
    outline: none;
    width: 125px;
    margin: 5px;
    height: 26px;
    border: 0;
    cursor: pointer;
    background: #248295;
    border-radius: 20px;
    font-size: 15px;
    color: white; }
    .newseed-528124473 button:hover {
      background: #106e81; }
  .newseed-528124473 .hint {
    color: #f2eeee;
    padding: 20px 38px; }

.locked-1169012682 {
  padding-top: 70px;
  height: 600px;
  box-sizing: border-box;
  text-align: center; }
  .locked-1169012682 > .logo {
    padding: 20px;
    border-bottom: 1px solid #b1b1b1;
    background: rgba(255, 255, 255, 0.2);
    margin: 20px 0; }
    .locked-1169012682 > .logo > img {
      height: 50px; }
    .locked-1169012682 > .logo > .title {
      color: white; }
  .locked-1169012682 > .title {
    font-size: 35px;
    color: white;
    margin-bottom: 20px; }
  .locked-1169012682 > .inputs input {
    text-align: center;
    font-size: 24px;
    display: inline-block;
    width: 40px;
    height: 40px;
    background: white;
    border: 1px solid #f4f4f5;
    border-radius: 3px;
    margin: 5px;
    outline: none; }
    .locked-1169012682 > .inputs input:focus {
      border-color: #248295; }
    .locked-1169012682 > .inputs input:placeholder {
      color: #8dbdff; }
  .locked-1169012682 > .wrong {
    color: red; }
  .locked-1169012682 button.setup {
    cursor: pointer;
    margin-top: 20px;
    width: 100px;
    height: 30px;
    border-radius: 3px;
    border: 0px;
    background: #248295;
    color: white; }
    .locked-1169012682 button.setup:hover {
      background: #106e81; }
  .locked-1169012682 .hint {
    color: #f2eeee;
    padding: 20px 38px; }

.receive-827314692 {
  text-align: center; }
  .receive-827314692 .receive-body {
    padding: 50px 20px;
    background: white; }
    .receive-827314692 .receive-body canvas {
      width: 256px;
      height: 256px; }
  .receive-827314692 .bottom {
    color: white;
    cursor: pointer;
    padding: 10px; }

.content-1788769299 {
  position: relative; }
  .content-1788769299 > * {
    display: inline-block;
    text-align: center;
    width: 376px;
    box-sizing: border-box;
    border-radius: 20px;
    position: absolute;
    left: 11px; }
  .content-1788769299 > .more-buttons {
    background: rgba(255, 255, 255, 0.24);
    top: 545px;
    color: white;
    padding: 5px;
    border-radius: 20px; }
    .content-1788769299 > .more-buttons > .more {
      color: white;
      width: 33.333%;
      box-sizing: border-box;
      display: inline-block;
      text-align: center;
      height: 32px;
      line-height: 32px;
      cursor: pointer;
      border-left: 1px solid #e6e4e4; }
      .content-1788769299 > .more-buttons > .more:first-child {
        border-left: 0; }
      .content-1788769299 > .more-buttons > .more:hover {
        color: #ebebeb; }
  .content-1788769299 > .decoration {
    top: 8px;
    left: 28px;
    width: 344px;
    background: rgba(255, 255, 255, 0.24);
    height: 23px;
    border-radius: 15px; }
  .content-1788769299 > .content-body {
    top: 15px;
    padding: 12px 12px 0px 12px;
    height: 520px;
    background: white;
    color: gray; }
    .content-1788769299 > .content-body a {
      color: gray; }
    .content-1788769299 > .content-body > form {
      max-width: 400px;
      text-align: left; }
      .content-1788769299 > .content-body > form > table {
        background: #e6f0ff;
        border-radius: 10px;
        width: 100%;
        border-spacing: 0; }
        .content-1788769299 > .content-body > form > table tr.gray {
          color: #CCC; }
        .content-1788769299 > .content-body > form > table tr.orange {
          color: #cf952c; }
        .content-1788769299 > .content-body > form > table tr.green {
          color: #23b723; }
        .content-1788769299 > .content-body > form > table tr td {
          padding: 3px 10px;
          font-size: 14px; }
          .content-1788769299 > .content-body > form > table tr td:last-child {
            text-align: right; }
      .content-1788769299 > .content-body > form > .form-group {
        margin-top: 4px; }
        .content-1788769299 > .content-body > form > .form-group > .control-label {
          padding-top: 5px;
          padding-left: 12px;
          font-size: 12px; }
        .content-1788769299 > .content-body > form > .form-group .address {
          padding: 5px 10px;
          overflow: hidden;
          text-overflow: ellipsis;
          background: #dcdada;
          border-radius: 20px;
          font-size: 13px;
          overflow: hidden;
          text-overflow: ellipsis;
          background: #E6F0FF;
          color: #677897; }
        .content-1788769299 > .content-body > form > .form-group input {
          outline: none;
          width: 100%;
          box-sizing: border-box;
          height: 30px;
          border-radius: 20px;
          padding: 0px 10px;
          font-size: 12px;
          margin: 1px;
          border: 1px solid #5E72E4; }
        .content-1788769299 > .content-body > form > .form-group .amount-field > .input-wrapper {
          position: relative;
          width: 50%;
          display: inline-block;
          box-sizing: border-box;
          margin: 0; }
          .content-1788769299 > .content-body > form > .form-group .amount-field > .input-wrapper > .label {
            position: absolute;
            top: 5px;
            display: inline; }
            .content-1788769299 > .content-body > form > .form-group .amount-field > .input-wrapper > .label.lusd {
              left: 5px; }
            .content-1788769299 > .content-body > form > .form-group .amount-field > .input-wrapper > .label.crypto {
              right: 5px;
              color: #5E72E4; }
          .content-1788769299 > .content-body > form > .form-group .amount-field > .input-wrapper input {
            width: 100%; }
            .content-1788769299 > .content-body > form > .form-group .amount-field > .input-wrapper input.amount {
              border-radius: 20px 0 0 20px;
              border-right: 0; }
            .content-1788769299 > .content-body > form > .form-group .amount-field > .input-wrapper input.amount-usd {
              background: #f1eeee;
              padding-left: 20px;
              border-radius: 0 20px 20px 0; }
    .content-1788769299 > .content-body > .header {
      margin: 0;
      padding: 10px;
      text-align: left;
      padding: 0; }
      .content-1788769299 > .content-body > .header > .head {
        width: 70%;
        line-height: 70px;
        font-size: 27px;
        font-weight: 700;
        vertical-align: middle;
        line-height: 29px;
        display: inline-block;
        color: #677897; }
        .content-1788769299 > .content-body > .header > .head.right {
          text-align: right;
          width: 30%; }
      .content-1788769299 > .content-body > .header img {
        width: 34px;
        border-radius: 50px; }
    .content-1788769299 > .content-body .usd {
      font-size: 11px;
      padding-left: 12px;
      color: gray; }
    .content-1788769299 > .content-body .topup {
      display: inline-block;
      margin-left: 5px;
      color: orange;
      vertical-align: top;
      padding: 0 5px;
      border-radius: 3px;
      line-height: 12px;
      font-size: 12px; }
    .content-1788769299 > .content-body .balance {
      color: #5E72E4; }
    .content-1788769299 > .content-body .not-enough {
      color: red;
      min-height: 30px;
      padding: 0 11px;
      font-size: 12px; }
    .content-1788769299 > .content-body .fast-cheap {
      text-align: right;
      height: 14px;
      line-height: 14px;
      padding: 3px;
      flex-direction: row;
      display: flex; }
      .content-1788769299 > .content-body .fast-cheap > * {
        padding: 0 5px;
        font-size: 10px;
        border-radius: 4px;
        cursor: pointer;
        text-align: center; }
        .content-1788769299 > .content-body .fast-cheap > *.chosen {
          cursor: default;
          background: #3a63e4;
          color: white; }
        .content-1788769299 > .content-body .fast-cheap > *.space {
          flex: 1; }
    .content-1788769299 > .content-body .escrow {
      padding: 5px 11px;
      min-height: 20px;
      color: #cc625a;
      font-size: 14px; }
    .content-1788769299 > .content-body .bold {
      font-weight: bold; }
    .content-1788769299 > .content-body .button-container {
      text-align: center; }
      .content-1788769299 > .content-body .button-container .buttons {
        margin-top: 10px;
        text-align: left;
        border-radius: 100px;
        width: 260px;
        display: inline-block;
        overflow: hidden;
        box-shadow: 0px 0px 9px #bbbbbb; }
        .content-1788769299 > .content-body .button-container .buttons .btn {
          width: 50%;
          height: 40px;
          line-height: 40px;
          text-align: center;
          font-size: 16px;
          color: #6595F5;
          display: inline-block;
          cursor: pointer;
          box-sizing: border-box;
          transaction: all .5s; }
          .content-1788769299 > .content-body .button-container .buttons .btn.btn-primary {
            background: #6CA7ED;
            color: white; }
          .content-1788769299 > .content-body .button-container .buttons .btn:hover {
            background: rgba(108, 167, 237, 0.2);
            color: #6CA7ED; }

.sent-1180599783 {
  text-align: center;
  color: #5bb03e;
  padding-top: 100px;
  background: white;
  width: 400px; }
  .sent-1180599783 .icon img {
    height: 75px; }
  .sent-1180599783 a.button {
    display: inline-block;
    background-color: #76CEE1;
    color: white;
    border-radius: 100px;
    padding: 3px 10px;
    box-sizing: border-box;
    margin-top: 20px;
    line-height: 21px;
    cursor: pointer;
    height: 25px;
    width: 75px; }

.loading-page-399608342 {
  text-align: center;
  overflow: hidden;
  height: 100%;
  position: relative; }
  .loading-page-399608342 > .loading {
    position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
    width: 64px;
    height: 64px;
    border-radius: 50%;
    perspective: 800px; }
    .loading-page-399608342 > .loading > .inner {
      position: absolute;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      border-radius: 50%; }
      .loading-page-399608342 > .loading > .inner.one {
        left: 0%;
        top: 0%;
        animation: rotate-one 1s linear infinite;
        border-bottom: 3px solid #EFEFFA; }
      .loading-page-399608342 > .loading > .inner.two {
        right: 0%;
        top: 0%;
        animation: rotate-two 1s linear infinite;
        border-right: 3px solid #EFEFFA; }
      .loading-page-399608342 > .loading > .inner.three {
        right: 0%;
        bottom: 0%;
        animation: rotate-three 1s linear infinite;
        border-top: 3px solid #EFEFFA; }

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg); }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg); } }

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg); }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg); } }

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg); }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg); } }




















.wallet-618236637 {
  position: relative;
  cursor: pointer;
  height: 80px;
  background: #fff;
  box-sizing: border-box;
  border-radius: 15px;
  margin-top: -20px;
  overflow: hidden;
  transition: height .5s;
  box-shadow: 0 -10px 24px 0 rgba(0, 0, 0, 0.05); }
  .wallet-618236637:first-child {
    margin-top: 0;
    box-shadow: none; }
  .wallet-618236637.over {
    background: #CCC; }
  .wallet-618236637.big {
    height: 135px; }
  .wallet-618236637.active {
    background: #fff; }
    .wallet-618236637.active > .wallet-middle {
      display: inline-block; }
  .wallet-618236637 > .wallet-top {
    width: 100%;
    color: #677897;
    font-size: 14px;
    text-align: center; }
    .wallet-618236637 > .wallet-top > * {
      display: inline-block;
      box-sizing: border-box;
      vertical-align: top;
      padding-top: 10px;
      height: 50px; }
    .wallet-618236637 > .wallet-top > .top-left {
      width: 35%;
      text-align: right; }
      .wallet-618236637 > .wallet-top > .top-left > * {
        display: inline-block; }
      .wallet-618236637 > .wallet-top > .top-left > .img {
        line-height: 50px; }
        .wallet-618236637 > .wallet-top > .top-left > .img > img {
          vertical-align: top;
          max-width: 50px;
          border-radius: 35px;
          width: 35px;
          height: 35px; }
      .wallet-618236637 > .wallet-top > .top-left > .info {
        text-align: left;
        margin-left: 10px; }
        .wallet-618236637 > .wallet-top > .top-left > .info > .price {
          font-weight: bold;
          width: 82px;
          overflow: hidden;
          text-overflow: ellipsis; }
    .wallet-618236637 > .wallet-top > .top-middle {
      width: 30%;
      text-align: center; }
      .wallet-618236637 > .wallet-top > .top-middle > .balance:last-child {
        font-weight: bold;
        font-size: 13px; }
    .wallet-618236637 > .wallet-top > .top-right {
      width: 35%;
      padding-left: 35px;
      text-align: left; }
      .wallet-618236637 > .wallet-top > .top-right > button {
        outline: none;
        margin-top: 5px;
        cursor: pointer;
        border: 0;
        border-radius: 20px;
        width: 75px;
        height: 30px;
        color: #6CA7ED;
        text-transform: uppercase;
        font-weight: bold;
        background: #FFFFFF;
        box-shadow: 0 2px 9px 0 rgba(184, 184, 184, 0.5);
        transition: all .5s; }
        .wallet-618236637 > .wallet-top > .top-right > button:hover {
          background: #7aa7f3;
          color: white; }
  .wallet-618236637 > .wallet-middle {
    width: 100%;
    color: #677897;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
    position: relative; }
    .wallet-618236637 > .wallet-middle > img {
      position: absolute;
      right: 20px;
      margin: 12px; }
    .wallet-618236637 > .wallet-middle > a {
      width: 90%;
      position: relative;
      border-radius: 20px;
      border: 0;
      background: #E6F0FF;
      box-sizing: border-box;
      vertical-align: top;
      text-align: center;
      padding-left: 20px;
      padding-right: 25px;
      height: 36px;
      color: #677897;
      font-size: 14px;
      line-height: 36px;
      display: inline-block;
      text-overflow: ellipsis;
      overflow: hidden; }

.menu1338448102 {
  height: 600px;
  width: 400px;
  position: relative; }
  .menu1338448102 > * {
    position: absolute;
    left: 0; }
  .menu1338448102 > .viewport {
    width: 400px;
    height: 600px;
    top: 0;
    overflow: hidden; }
    .menu1338448102 > .viewport > * {
      position: absolute;
      top: 0;
      width: 400px; }
    .menu1338448102 > .viewport > .viewport-icons {
      z-index: 5;
      height: 32px;
      position: relative;
      display: inline-block;
      text-align: left;
      vertical-align: top; }
      .menu1338448102 > .viewport > .viewport-icons > * {
        display: inline-block;
        color: white; }
      .menu1338448102 > .viewport > .viewport-icons > .absolute {
        display: inline-block;
        vertical-align: bottom;
        position: absolute;
        top: 0;
        width: 50%;
        padding: 0 10px; }
        .menu1338448102 > .viewport > .viewport-icons > .absolute.left {
          left: 0;
          text-align: left; }
        .menu1338448102 > .viewport > .viewport-icons > .absolute.right {
          right: 0;
          text-align: right; }
      .menu1338448102 > .viewport > .viewport-icons span {
        padding: 3px 0;
        border-radius: 2px;
        font-size: 12px;
        color: white;
        vertical-align: top;
        cursor: pointer; }
      .menu1338448102 > .viewport > .viewport-icons > span.center {
        width: 100%;
        text-align: center; }
        .menu1338448102 > .viewport > .viewport-icons > span.center img {
          height: 20px;
          width: auto; }
      .menu1338448102 > .viewport > .viewport-icons img {
        width: 13.33333px;
        display: inline-block;
        margin: 0 5px;
        cursor: pointer; }
        .menu1338448102 > .viewport > .viewport-icons img.reload.true {
          animation: rotating 2s linear infinite; }

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
        .menu1338448102 > .viewport > .viewport-icons img.lock {
          float: right; }
        .menu1338448102 > .viewport > .viewport-icons img:hover {
          color: #eee; }
    .menu1338448102 > .viewport > .viewport-header {
      z-index: 4;
      position: relative;
      height: 32px;
      text-align: center;
      transition: left 1s, background 2s; }
      .menu1338448102 > .viewport > .viewport-header > .text {
        font-size: 14px;
        display: inline-block;
        padding: 10px 25px;
        color: rgba(255, 255, 255, 0.5);
        font-weight: bold;
        cursor: pointer;
        font-weight: 400; }
      .menu1338448102 > .viewport > .viewport-header > .text-line {
        height: 3px; }
      .menu1338448102 > .viewport > .viewport-header.s1 {
        left: 50px; }
        .menu1338448102 > .viewport > .viewport-header.s1 > .text.s1 {
          color: white;
          cursor: default; }
        .menu1338448102 > .viewport > .viewport-header.s1 > .text-line {
          background: linear-gradient(135deg, #FFF 0%, transparent 100%); }
      .menu1338448102 > .viewport > .viewport-header.s2 {
        left: 0; }
        .menu1338448102 > .viewport > .viewport-header.s2 > .text-line {
          background: linear-gradient(135deg, transparent 0%, #FFF 50%, transparent 100%); }
        .menu1338448102 > .viewport > .viewport-header.s2 > .text.s2 {
          color: white;
          cursor: default; }
      .menu1338448102 > .viewport > .viewport-header.s3 {
        left: -50px; }
        .menu1338448102 > .viewport > .viewport-header.s3 > .text-line {
          background: linear-gradient(135deg, transparent 0%, #FFF 100%); }
        .menu1338448102 > .viewport > .viewport-header.s3 > .text.s3 {
          color: white;
          cursor: default; }
    .menu1338448102 > .viewport > .viewport-switchs {
      z-index: 3;
      top: 191px;
      text-align: center; }
      .menu1338448102 > .viewport > .viewport-switchs > .switch {
        border-radius: 100px;
        width: 8px;
        height: 8px;
        margin: 0 4px;
        background: rgba(255, 255, 255, 0.5);
        display: inline-block;
        cursor: pointer; }
      .menu1338448102 > .viewport > .viewport-switchs.s1 > .switch.s1 {
        background: white;
        cursor: default; }
      .menu1338448102 > .viewport > .viewport-switchs.s2 > .switch.s2 {
        background: white;
        cursor: default; }
      .menu1338448102 > .viewport > .viewport-switchs.s3 > .switch.s3 {
        background: white;
        cursor: default; }
    .menu1338448102 > .viewport > .viewport-decoration {
      text-align: center;
      z-index: 2;
      top: 50px; }
      .menu1338448102 > .viewport > .viewport-decoration > .circle {
        display: inline-block;
        width: 400px;
        height: 400px;
        border-radius: 400px;
        background: rgba(255, 255, 255, 0.1);
        transition: all 1s; }
      .menu1338448102 > .viewport > .viewport-decoration.s1 > .circle {
        width: 363.63636px;
        height: 363.63636px;
        margin-left: -30px; }
      .menu1338448102 > .viewport > .viewport-decoration.s2 > .circle {
        width: 400px;
        height: 400px;
        margin-left: 0; }
      .menu1338448102 > .viewport > .viewport-decoration.s3 > .circle {
        width: 363.63636px;
        height: 363.63636px;
        margin-left: 30px; }
    .menu1338448102 > .viewport > .viewport-background {
      background-image: linear-gradient(90deg, #4650E7 0%, #7CC9FF 89%, #9d78b2 100%);
      transition: background-image 0.5s;
      padding: 32px 20px 0 20px;
      z-index: 1;
      width: 1200px;
      height: inherit;
      transition: left 2s; }
      .menu1338448102 > .viewport > .viewport-background.s1 {
        left: 0; }
      .menu1338448102 > .viewport > .viewport-background.s2 {
        left: -360px; }
      .menu1338448102 > .viewport > .viewport-background.s3 {
        left: -720px; }
    .menu1338448102 > .viewport > .viewport-content {
      position: relative;
      z-index: 3;
      background: transparent;
      height: 133.33333px;
      width: 1200px;
      padding: 20px 20px 0 20px;
      text-align: left;
      transition: left 1s;
      font-size: 20px;
      font-weight: bold;
      line-height: 240px; }
      .menu1338448102 > .viewport > .viewport-content > .slide {
        transition: margin-top 0.5s; }
      .menu1338448102 > .viewport > .viewport-content.s1 {
        left: 40px; }
        .menu1338448102 > .viewport > .viewport-content.s1 > .slide.s1 {
          margin-top: -10px; }
      .menu1338448102 > .viewport > .viewport-content.s2 {
        left: -240px; }
        .menu1338448102 > .viewport > .viewport-content.s2 > .slide.s2 {
          margin-top: -10px; }
      .menu1338448102 > .viewport > .viewport-content.s3 {
        left: -520px; }
        .menu1338448102 > .viewport > .viewport-content.s3 > .slide.s3 {
          margin-top: -10px; }
      .menu1338448102 > .viewport > .viewport-content > .slide {
        z-index: 3;
        float: left;
        text-align: center;
        height: 120px;
        display: inline-block;
        box-sizing: border-box;
        vertical-align: top;
        border-width: 10px;
        border-style: solid;
        border-color: transparent; }
        .menu1338448102 > .viewport > .viewport-content > .slide > .slide-body {
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          overflow: hidden;
          width: 100%;
          height: 100%;
          vertical-align: top;
          line-height: normal;
          border-radius: 10px;
          background: #FFFFFF;
          box-sizing: border-box; }
          .menu1338448102 > .viewport > .viewport-content > .slide > .slide-body input {
            border-radius: 25px; }
          .menu1338448102 > .viewport > .viewport-content > .slide > .slide-body textarea {
            border-radius: 7px; }
          .menu1338448102 > .viewport > .viewport-content > .slide > .slide-body input, .menu1338448102 > .viewport > .viewport-content > .slide > .slide-body textarea {
            outline: none;
            border: 1px solid #dedcdc;
            padding: 3px 10px;
            box-sizing: border-box; }
          .menu1338448102 > .viewport > .viewport-content > .slide > .slide-body button {
            background-color: #6595F5;
            border: 1px solid #6595F5;
            border-radius: 50px;
            color: white;
            padding: 5px 24px;
            cursor: pointer;
            outline: none; }
            .menu1338448102 > .viewport > .viewport-content > .slide > .slide-body button:hover {
              background: transparent;
              color: #6595F5; }
        .menu1338448102 > .viewport > .viewport-content > .slide.s1 {
          width: 280px; }
          .menu1338448102 > .viewport > .viewport-content > .slide.s1 > .slide-body .title {
            color: #6595F5;
            font-size: 12px; }
            .menu1338448102 > .viewport > .viewport-content > .slide.s1 > .slide-body .title a {
              color: #ee8791; }
          .menu1338448102 > .viewport > .viewport-content > .slide.s1 > .slide-body textarea {
            width: 244px;
            height: 37px;
            resize: none;
            font-size: 12px; }
        .menu1338448102 > .viewport > .viewport-content > .slide.s2 {
          width: 280px; }
          .menu1338448102 > .viewport > .viewport-content > .slide.s2 > .slide-body {
            overflow: hidden;
            margin: 0 auto;
            position: relative;
            padding: 11px 0;
            display: inline-block; }
            .menu1338448102 > .viewport > .viewport-content > .slide.s2 > .slide-body > * {
              display: block;
              max-width: 100%;
              margin: 0 auto;
              text-align: center; }
            .menu1338448102 > .viewport > .viewport-content > .slide.s2 > .slide-body > .decor {
              color: rgba(112, 131, 232, 0.1);
              transform: rotate(10deg);
              position: absolute;
              top: -35px;
              right: -20px;
              font-size: 120px; }
            .menu1338448102 > .viewport > .viewport-content > .slide.s2 > .slide-body > .currency {
              color: rgba(112, 131, 232, 0.3); }
            .menu1338448102 > .viewport > .viewport-content > .slide.s2 > .slide-body > .amount {
              color: #7083e8; }
              .menu1338448102 > .viewport > .viewport-content > .slide.s2 > .slide-body > .amount > * {
                display: inline-block;
                vertical-align: top;
                line-height: 45px; }
              .menu1338448102 > .viewport > .viewport-content > .slide.s2 > .slide-body > .amount > .symbol {
                font-size: 20px;
                margin-top: -8px;
                font-weight: 100; }
              .menu1338448102 > .viewport > .viewport-content > .slide.s2 > .slide-body > .amount > .number {
                font-size: 40px;
                font-weight: 400; }
        .menu1338448102 > .viewport > .viewport-content > .slide.s3 {
          width: 280px; }




















.copy-1464154875 {
  height: 16px;
  cursor: pointer; }

.naming-643971748 {
  width: 95%;
  padding: 0px 0;
  margin: 0 10px 3px 10px; }
  .naming-643971748 .custom-domain {
    position: relative;
    width: 100%;
    height: 31px; }
    .naming-643971748 .custom-domain input {
      height: 22px;
      padding: 2px 13px;
      width: 100%;
      text-align: left;
      width: 70%; }
    .naming-643971748 .custom-domain > .part {
      width: 100%;
      background: transparent;
      position: absolute;
      text-align: center; }
      .naming-643971748 .custom-domain > .part.hidden {
        z-index: 0; }
        .naming-643971748 .custom-domain > .part.hidden input {
          color: rgba(0, 0, 0, 0.6);
          background: transparent; }
      .naming-643971748 .custom-domain > .part.visible {
        z-index: 1; }
        .naming-643971748 .custom-domain > .part.visible input {
          background: transparent;
          color: #595768; }
  .naming-643971748 .message {
    font-size: 11px;
    background: transparent;
    border: none !important;
    text-align: center;
    height: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #454354;
    resize: none;
    padding: 0 !important; }











.links-1467872500 {
  text-align: center; }
  .links-1467872500 .link {
    display: inline-block;
    border-radius: 30px;
    background: black;
    padding: 5px;
    margin: 2px;
    width: 30px;
    height: 30px;
    box-sizing: border-box; }
    .links-1467872500 .link > img {
      width: auto;
      height: 100%; }
      .links-1467872500 .link > img:hover {
        background: gray;
        transition: background .5s; }
