
@import 'https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css';
.app893529543 {
  background: #eae7e7;
  min-height: 100vh;
  position: relative;
  color: white;
  overflow-y: auto;
  text-align: center;
  max-width: 400px; }









.content1871139591 {
  background: white;
  color: gray;
  margin: 10px;
  text-align: center;
  padding: 25px; }
  .content1871139591 .control-label {
    padding-top: 5px; }
  .content1871139591 table {
    border-spacing: 0;
    margin-top: 20px; }
    .content1871139591 table td {
      padding: 5px; }
  .content1871139591 h2 {
    margin: 0;
    padding: 10px; }
  .content1871139591 a {
    color: gray; }
  .content1871139591 .address {
    background: #dcdada;
    border: 1px solid gray;
    padding: 5px;
    border-radius: 5px;
    font-size: 13px; }
  .content1871139591 form {
    max-width: 400px;
    text-align: left; }
    .content1871139591 form .form-group {
      margin-top: 10px; }
    .content1871139591 form input {
      width: 100%;
      box-sizing: border-box;
      border: 0;
      height: 30px;
      border-radius: 4px;
      padding: 0px 10px;
      margin: 1px;
      border: 1px solid gray; }
      .content1871139591 form input.amount {
        width: 100px;
        height: 50px;
        font-size: 32px; }
  .content1871139591 .font-light {
    text-align: left;
    padding: 7px 0; }
    .content1871139591 .font-light .head {
      line-height: 70px;
      vertical-align: middle;
      line-height: 35px;
      display: inline-block; }
      .content1871139591 .font-light .head > * {
        padding-left: 10px; }
      .content1871139591 .font-light .head > .from {
        font-size: 16px;
        color: gray; }
    .content1871139591 .font-light img {
      width: 53px; }
  .content1871139591 .usd {
    font-size: 11px; }
  .content1871139591 .not-enough {
    color: red; }
  .content1871139591 .gray {
    color: #CCC; }
  .content1871139591 .orange {
    color: #ab8540; }
  .content1871139591 .green {
    color: #095409; }
  .content1871139591 .bold {
    font-weight: bold; }
  .content1871139591 .buttons {
    margin-top: 10px;
    text-align: left; }
    .content1871139591 .buttons .btn {
      text-align: center;
      font-size: 16px;
      width: 100px;
      border-radius: 7px;
      height: 25px;
      margin: 3px;
      color: gray;
      display: inline-block;
      line-height: 27px;
      cursor: pointer; }
      .content1871139591 .buttons .btn.btn-primary {
        background: #75cee1;
        color: white;
        width: 150px; }

.history-632060576 {
  width: 100%;
  color: black;
  position: relative;
  padding-bottom: 20px; }
  .history-632060576 .header {
    height: 50px;
    box-sizing: border-box;
    text-align: left;
    padding: 10px;
    position: fixed;
    background: rgba(255, 255, 255, 0.95);
    left: 0;
    top: 0;
    width: 100%;
    max-width: 400px; }
    .history-632060576 .header .separator {
      min-width: 14px;
      display: inline-block; }
    .history-632060576 .header button {
      outline: none;
      cursor: pointer;
      border: 0;
      background: transparent;
      display: inline-block;
      vertical-align: top;
      margin: 3px;
      padding: 0;
      border: 1px solid #eae9e9;
      border-radius: 3px;
      line-height: 12px;
      height: 25px;
      width: 33px;
      text-align: center; }
      .history-632060576 .header button.active {
        border-color: #75cee1;
        background: rgba(117, 206, 225, 0.3);
        background: white; }
      .history-632060576 .header button > * {
        vertical-align: middle;
        display: inline-block; }
  .history-632060576 .fee {
    display: inline-block;
    margin-right: 5px; }
  .history-632060576 .balance {
    display: inline-block; }
    .history-632060576 .balance > * {
      display: inline-block; }
    .history-632060576 .balance .color {
      color: black; }
    .history-632060576 .balance .rest {
      color: #CCC; }
  .history-632060576 .table {
    margin-top: 60px;
    width: 100%; }
    .history-632060576 .table .head.record, .history-632060576 .table .record.record {
      border: 1px solid #CCC;
      border-radius: 3px;
      margin: 10px;
      background: white;
      margin-bottom: 1px; }
    .history-632060576 .table .head .cell, .history-632060576 .table .record .cell {
      padding: 2px 5px;
      display: inline-block;
      vertical-align: top;
      box-sizing: border-box;
      text-align: left; }
      .history-632060576 .table .head .cell.network, .history-632060576 .table .record .cell.network {
        width: 15%; }
      .history-632060576 .table .head .cell.txhash, .history-632060576 .table .record .cell.txhash {
        width: 45%; }
        .history-632060576 .table .head .cell.txhash a, .history-632060576 .table .record .cell.txhash a {
          color: black; }
      .history-632060576 .table .head .cell.amount, .history-632060576 .table .record .cell.amount {
        width: 40%;
        text-align: right; }
    .history-632060576 .table .head .gray, .history-632060576 .table .record .gray {
      color: #CCC;
      font-size: 12px; }
    .history-632060576 .table .head .type, .history-632060576 .table .record .type {
      text-align: center; }
    .history-632060576 .table .head .direction, .history-632060576 .table .record .direction {
      font-size: 12px; }
    .history-632060576 .table .head.OUT .direction, .history-632060576 .table .record.OUT .direction {
      color: red; }
    .history-632060576 .table .head.OUT .txhash a, .history-632060576 .table .record.OUT .txhash a {
      color: #c79b9b; }
    .history-632060576 .table .head.IN .direction, .history-632060576 .table .record.IN .direction {
      color: green; }
    .history-632060576 .table .head.IN .txhash a, .history-632060576 .table .record.IN .txhash a {
      color: #80ad80; }
  .history-632060576 .panel-footer {
    padding: 10px; }
  .history-632060576 img {
    height: 15px; }

.wallets-153557454 {
  box-sizing: border-box; }





.wallet-1442129510 {
  padding: 10px;
  margin: 0 10px 3px 10px;
  text-align: left;
  background: white;
  color: black; }
  .wallet-1442129510 > .wallet-header img {
    max-width: 32px; }
  .wallet-1442129510 > .wallet-header .btn {
    border: 1px solid #75cee1;
    line-height: 14px;
    font-size: 14px;
    color: #75cee1;
    cursor: pointer;
    border-radius: 5px;
    width: 90px;
    height: 17px;
    display: inline-block;
    text-align: center;
    margin-bottom: 2px; }
    .wallet-1442129510 > .wallet-header .btn.default {
      background: #75cee1;
      color: white; }
  .wallet-1442129510 > .wallet-header .part {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    width: 33%; }
    .wallet-1442129510 > .wallet-header .part.center {
      text-align: center; }
    .wallet-1442129510 > .wallet-header .part.right {
      text-align: right; }
    .wallet-1442129510 > .wallet-header .part > .cell {
      display: inline-block;
      margin-right: 5px; }
    .wallet-1442129510 > .wallet-header .part .gray {
      color: gray;
      font-size: 12px; }
  .wallet-1442129510 > .wallet-body .center {
    text-align: center; }
  .wallet-1442129510 > .wallet-body .address {
    margin-top: 5px;
    background: black;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    padding: 5px;
    background: #eae7e7; }
    .wallet-1442129510 > .wallet-body .address a {
      text-decoration: none;
      color: #4c4a4a;
      font-size: 14px; }
  .wallet-1442129510 > .wallet-footer {
    height: 43px; }

.menu1056479419 {
  margin-top: 9px; }
  .menu1056479419 .box-container {
    margin: 0 10px 3px 10px; }
    .menu1056479419 .box-container .box {
      padding: 10px;
      background: white;
      width: 100%;
      box-sizing: border-box;
      display: inline-block;
      border-radius: 5px;
      color: black; }
      .menu1056479419 .box-container .box .balance {
        font-weight: bold;
        color: black; }
  .menu1056479419 textarea, .menu1056479419 input {
    border-radius: 5px;
    background: #fbfafa;
    color: #4c4a4a;
    padding: 3px 10px;
    font-size: 15px; }
  .menu1056479419 textarea {
    width: 260px;
    height: 50px;
    resize: none;
    border: 1px solid #b1afaf; }
  .menu1056479419 input {
    height: 23px;
    width: 150px;
    border: 0;
    margin: 0px 2px; }
  .menu1056479419 button {
    outline: none;
    margin-top: 5px;
    width: 100px;
    cursor: pointer;
    height: 20px;
    border: 0;
    background-color: #76CEE1;
    border-radius: 100px; }
    .menu1056479419 button:hover {
      background-color: #80d8eb; }
  .menu1056479419 ul {
    list-style: none;
    padding: 0; }
    .menu1056479419 ul li {
      display: inline-block;
      color: gray;
      cursor: pointer;
      padding: 0 5px; }
      .menu1056479419 ul li.active {
        border: 1px solid gray;
        border-radius: 5px; }


.naming1879046077 .custom-domain {
  position: relative;
  width: 100%;
  height: 50px; }
  .naming1879046077 .custom-domain input {
    outline: none;
    height: 22px;
    padding: 2px 13px;
    width: 100%;
    text-align: left;
    width: 70%;
    border: 1px solid #b1afaf; }
  .naming1879046077 .custom-domain > .part {
    width: 100%;
    background: transparent;
    position: absolute;
    text-align: center; }
    .naming1879046077 .custom-domain > .part.hidden {
      z-index: 0; }
      .naming1879046077 .custom-domain > .part.hidden input {
        color: rgba(0, 0, 0, 0.2); }
    .naming1879046077 .custom-domain > .part.visible {
      z-index: 1; }
      .naming1879046077 .custom-domain > .part.visible input {
        background: transparent; }

.naming1879046077 .message {
  font-size: 11px;
  background: transparent;
  border: none;
  text-align: center;
  height: 20px; }












