.naming-427236597
    .custom-domain
        input
            outline: none
            height: 22px
            padding: 2px 13px
            width: 100%
            text-align: left
            width: 70%
            border: 1px solid #b1afaf
        position: relative
        width: 100%
        height: 28px
        >.part
            width: 100%
            background: transparent
            position: absolute
            text-align: center
            &.hidden
                z-index: 0
                input
                    color: rgba(black, 0.2)
            &.visible
                z-index: 1
                input
                    background: transparent
    .message
        font-size: 11px
        background: transparent
        border: none
        text-align: center
        height: 12px