.content670999182
    @import scheme
    background: white
    color: gray
    margin: 10px
    text-align: center
    .control-label
        padding-top: 5px
    table
        border-spacing: 0
        margin-top: 20px
        td
            padding: 5px
    h2 
        margin: 0
        padding: 10px
    a
        color: gray
    .more-buttons
        border-top: 1px solid #e6e4e4
        margin-top: 13px
        .more
            color: #737171
            padding: 5px
            border: 1px solid #b9b6b6
            display: inline-block
            margin: 3px
            border-radius: 8px
            margin-top: 22px
            width: 147px
            text-align: center
            height: 14px
            line-height: 14px
            background: #efeeee
            cursor: pointer
            &:hover
                background: #efeeee - 10
    .address
        background: #dcdada
        border: 1px solid gray
        padding: 5px
        border-radius: 5px
        font-size: 13px
        overflow: hidden
        text-overflow: ellipsis
    form
        max-width: 400px
        text-align: left
        .form-group
            margin-top: 10px
        input
            width: 100%
            box-sizing: border-box
            border: 0
            height: 30px
            border-radius: 4px
            padding: 0px 10px
            font-size: 12px
            margin: 1px
            border: 1px solid gray
            &.amount
                width: 100px
                height: 50px
                font-size: 32px
    padding: 13px
    .font-light
        text-align: left
        padding: 7px 0
        .head
            line-height: 70px
            vertical-align: middle
            line-height: 35px
            display: inline-block
            >*
                padding-left: 10px
            >.title
            >.from
                font-size: 16px
                color: gray
        img
            width: 53px
    .usd
        font-size: 11px
    .topup
        display: inline-block
        margin-left: 5px
        color: orange
        vertical-align: top
        padding: 0 5px
        border-radius: 3px
        line-height: 12px
        font-size: 12px
    .not-enough
        color: red
    .gray
        color: #CCC
    .orange
        color: #ab8540
    .escrow
        padding: 5px 4px
        color: #adb551
    .green
        color: #095409
    .bold
        font-weight: bold
    .buttons
        margin-top: 10px
        text-align: left
        .btn
            text-align: center
            font-size: 16px
            width: 156px
            border-radius: 7px
            height: 25px
            margin: 3px
            color: gray
            display: inline-block
            line-height: 27px
            cursor: pointer
            box-sizing: border-box
            &.btn-primary
                background: $primary
                color: white
                width: 161px