.wallet674423384
    $cards-height: 324px
    $pad: 20px
    $radius: 15px 
    position: relative
    cursor: pointer
    $card-height: 80px
    height: $card-height
    background: #fff
    $mt: 20px
    box-sizing: border-box
    border-radius: $radius
    margin-top: -$mt
    overflow: hidden
    transition: height .5s
    box-shadow: 0 -10px 24px 0 rgba(0,0,0,0.05)
    &:first-child
        margin-top: 0
        box-shadow: none
    &.over
        background: #CCC
    &.active
        background: #fff
        height: 135px
        >.wallet-middle
            display: inline-block
    >.wallet-top
        $card-top-height: 50px
        width: 100%
        color: #677897
        font-size: 14px
        text-align: center
        >*
            display: inline-block
            box-sizing: border-box
            vertical-align: top
            padding-top: 10px
            height: $card-top-height
        >.top-left
            width: 35%
            text-align: right
            >*
                display: inline-block
            >.img
                line-height: $card-top-height
                >img
                    vertical-align: top
                    max-width: 50px
                    $s: 35px
                    border-radius: $s
                    width: $s
                    height: $s
            >.info
                text-align: left
                margin-left: $pad / 2
                >.name
                >.price
                    font-weight: bold
                    width: 82px
                    overflow: hidden
                    text-overflow: ellipsis
        >.top-middle
            width: 30%
            text-align: center
            >.balance
                &:last-child
                    font-weight: bold
        >.top-right
            width: 35%
            padding-left: 35px
            text-align: left
            >button
                outline: none
                margin-top: 5px
                cursor: pointer
                border: 0
                border-radius: 20px
                width: 75px
                height: 30px
                color: #6CA7ED
                text-transform: uppercase
                font-weight: bold
                background: #FFFFFF
                box-shadow: 0 2px 9px 0 rgba(184,184,184,0.50)
    >.wallet-middle
        $card-top-height: 50px
        width: 100%
        color: #677897
        font-size: 14px
        margin-top: 10px
        text-align: center
        position: relative
        >img
            position: absolute
            right: 20px
            margin: 12px
        >a
            width: 90%
            position: relative
            border-radius: 20px
            border: 0
            background: #E6F0FF
            box-sizing: border-box
            vertical-align: top
            text-align: left
            padding-left: 20px
            padding-right: 25px
            height: $card-top-height - 14px
            color: #677897
            font-size: 14px
            line-height: $card-top-height - 14px
            display: inline-block
            text-overflow: ellipsis
            overflow: hidden