.wallets-430341213
    box-sizing: border-box
    background: #eae7e7
    .lock
        color: gray
        font-size: 11px
        cursor: pointer
        display: inline-block
        border: 1px solid #d7d4d4
        border-radius: 5px
        padding: 3px
        margin-bottom: 20px
        width: 120px
        &:hover
            border-color: gray